.about {
	margin: 50px;
}

.about-section {
	display: flex;
	flex-direction: column;
}

.about-section-title {
  margin-bottom: 30px;
	color: var(--main-color);
  font-size: 80px;
  font-weight: 600;
	font-family: 'AlongSanss2';
}

.about-section-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.about-section-list::after {
  content: '';
  background-image: linear-gradient(90deg,#7c008c,#db0080 51%,#52008c);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.about-section-description {
  color: var(--main-color);
	font-family: 'OpenSans-Variable';
  font-size: 28px;
  line-height: 1.4;
  z-index: 4;
}

.cursive {
  font-family: 'AlongSanss2';
}

@media (width < 800px) {

  .about {
    margin: 10px;
  }

  .about-section-title {
    margin-top: 20px;
    font-size: 42px;
  }

  .about-section-description {
    font-size: 18px;
  }
}