.header-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--main-color);
}

.header-product .header__menu .header__menu__list {
  color: var(--main-color);
}

.header-product-logo {
  height: 40px;
}

.logo-link {
  height: 40px;
}

@media (width < 1000px) {

  .header-product {
    padding: 20px 40px;
  }

  .header__menu__list {
    padding: 0;
  }
}

@media (width < 500px) { 
  
  .header-product {
    flex-direction: column;
    padding: 10px;
  }

  .header-product-logo {
    height: 30px;
  }

  .logo-link {
    height: min-content;
  }
}