.header {
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 40vw 1fr;
	height: 100vh;
	padding: clamp(0.938rem, -1.587rem + 3.846vw, 1.875rem);
	background: radial-gradient(
		circle at 0% 51.2%,
		#ff30c1 0%,
    #a0008a 2%,
    #a704a4 0%,
    #ff30c1 4%,
		#8a06d6 2%,
		#8a06d6 4%,
    #ff30c1 6%,
		#8a06d6 4%,
		#8a06d6 6%,
    #ff30c1 8%,
		#8a06d6 6%,
		#8a06d6 8%,
    #ff30c1 10%,
		#8a06d6 8%,
		#8a06d6 10%,
    #ff30c1 12%,
		#8a06d6 10%,
		#8a06d6 12%,
    #ff30c1 14%,
		#8a06d6 12%,
		#8a06d6 14%,
    #ff30c1 16%,
		#8a06d6 14%,
		#8a06d6 16%,
    #ff30c1 18%,
		#8a06d6 16%,
		#8a06d6 18%,
    #ff30c1 20%,
		#8a06d6 18%,
		#8a06d6 20%,
    #ff30c1 22%,
		#8a06d6 18%,
		#8a06d6 22%,
    #ff30c1 24%,
		#8a06d6 22%,
		#8a06d6 24.%,
		#58033f 24.4%,
		rgb(19, 19, 19) 24.5%,
		rgb(19, 19, 19) 66%
	);
	background-position-x: 0; /* начальное положение фона */
  background-position-y: -30vw; /* начальное положение фона */
	background-repeat: no-repeat;
	animation: slideDown 2s forwards; /* применяем анимацию */
}

@keyframes slideDown {
	
	from {
		background-position-x: -30vw; /* начальное положение фона */
	}

	to {
		background-position-x: 0; /* конечное положение фона */
	}
}

.header__title {
	z-index: 2;
	padding-bottom: 10px;
	color: var(--main-color);
	font-family: 'AlongSanss2';
	font-weight: 700;
	font-size: clamp(4.25rem, 0.8654rem + 5.2885vw, 5.625rem);
	text-transform: uppercase;
}

.burger_button {
	background-color: transparent;
	border: none;
	padding: 0;
	position: absolute;
	opacity: 1;
	top: 10px;
	right: 20px;
	display: none;
	width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../../images/burger.png');
	transition: opacity 0.5s ease;
}

.header__menu__list {
	display: flex;
	justify-content: center;
	gap: 32px;
	padding-inline-start: 60px;
	color: var(--main-color);
	font-family: 'Evolventa';
	font-size: 20px;
}

.header__menu {
	z-index: 2;
	grid-column: 1 / span 2;
}

.header__menu__list-item {
	position: relative;
	font-variation-settings: "wght" 400;
	font-size: 16px;
}

.header__menu__list-item::after {
	content: "";
	position: absolute;
	z-index: 2;
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 25%;
	opacity: 0.8;
	background-color: var(--accent-color);
	transform: scaleX(0);
	transform-origin: left center;
}

.header__menu__list-item:hover::after {
	transform: scaleX(1);
}

.header__content {
	z-index: 2;
	display: flex;
	flex-direction: column;
	grid-row-start: 2;
	justify-self: flex-start;
	width: clamp(19.688rem, 7.067rem + 19.231vw, 24.375rem);
	text-align: center;
	align-self: center;
}

.header__content-product-page {
	grid-column: 2;
	grid-row: 3;
	width: 70%;
	align-self: start;
	justify-self: center;
}

.header__description {
	border-top: 1px solid var(--main-color);
	padding-top: 10px;
	padding-bottom: 20px;
	color: var(--main-color);
	font-family: 'Evolventa';
	font-weight: 400;
	font-size: clamp(0.938rem, 0.433rem + 0.769vw, 1.125rem);
	text-wrap: nowrap;
}



@media (width < 1000px) {

	.header .swiper {
		grid-column: 1 / 3;
		padding: 0;
	}

	.header__menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header__menu__list {
		gap: 20px;
		padding: 30px 15px;
		text-align: center;
	}

	.header__content {
		justify-self: center;
		width: 90%;
		grid-row: 3;
		grid-column: 1 / 3;
	}

	.header__description {
		font-size: 18px;
		font-variation-settings: "wght" 500;
	}

	.button::after {
		background-color: var(--main-color);
	}

	.header__action-button {
		background-color: var(--bg-color);
	}

	.header__action-button .button__text {
		color: var(--main-color);
	}

  .header {
    background: var(--bg-color)
  }
}

@media (width < 600px) {

	.header {
		padding: 20px 20px 80px;
	}

	.header__menu {
		height: 100vh;
		position: fixed;
		background-color: #58033f;
		top: 0;
		right: 0;
		width: 40vw;
		z-index: 100;
		padding-top: 40px;
		align-items: flex-start;
		transform: translate(40vw);
		transition: transform 0.5s ease;
	}

	.burger_button--opened {
		opacity: 0;
	}

	.header__menu--opened {
		transform: translate(0);
	}

	.header__menu__list {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.header__menu__list-item {
		align-self: center;
		font-family: var(--open-sans);
		font-size: 14px;
	}

	.header__description {
		text-wrap: wrap;
		padding: 10px;
	}

	.header__title {
		font-size: 40px;
	}

	.header__action-button {
		padding: 10px;
		height: min-content;
	}

	.button__text {
		line-height: 1;
	}

	.burger_button{
		display: block;
	}
}
