<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Надёжные и стильные дорожные сумки из премиум экокожи " />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://револди.рф/og-picture.png"/>
    <meta property="og:url" content="https://револди.рф" />
    <meta
      property="og:description"
      content="
      Надёжные и стильные дорожные сумки из премиум экокожи от 1900 рублей. Бесплатная доставка по всей РФ. Более 3600 положительных отзывов"
    />
    <meta property="og:site_name" content="REVOLDI" />
    <meta property="og:locale" content="РФ" />

    <title>Дорожные сумки из премиум экокожи для поездок, спорта и путешествий от 1900 рублей</title>
    <meta name="description" content="Надёжные и стильные дорожные сумки из премиум экокожи от 1900 рублей. Бесплатная доставка по всей РФ. Более 3600 положительных отзывов" />
    <meta name="keywords" content="дорожные сумки, сумки в дорогу, дорожная сумка, дорожная смка, смука дорожная, купить дорожную сумку" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Language" content="ru">
    <link rel="icon" href="svg/letter-r-svgrepo-com.ico" sizes="any" />
    <link rel="icon" href="svg/letter-r-svgrepo-com.svg" type="image/svg+xml" />
  </head>
  <body>
    <header class="header" id="section_main">
      <nav class="header__menu">
        <ul class="header__menu__list">
          <li class="header__menu__list-item">
            <a href="#">Главная</a>
          </li>
          <li class="header__menu__list-item">
            <a href="#section_models">Модели</a>
          </li>
          <li class="header__menu__list-item">
            <a href="#section_faq">Вопрос/Ответ</a>
          </li>
          <li class="header__menu__list-item">
            <a href="#section_contacts">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__content">
        <h1 class="header__title">revoldi</h1>
        <p class="header__description">
          Легкость стиля, надежность в каждом шаге
        </p>
        <a
          href="https://www.wildberries.ru/brands/37574462-REVOLDI?utm_source=vkentryprofit&click_id=v1_1053249462"
          target="_blank"
          class="button header__action-button"
        >
          <span class="button__text">купить на wildberries</span>
        </a>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide--one">
            <img src="<%=require('../images/carousel-1.webp')%>" alt="Первое изображание слайдера - пара мужчина и женщина держат сумки для ручной клади в руках"/>
          </div>
          <div class="swiper-slide swiper-slide--two">
            <img src="<%=require('../images/carousel-2.webp')%>" alt="Второе фото слайдера - пара мужчина и женщина держат сумки классика в руках" loading="lazy" />
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="swiper-slide swiper-slide--three">
            <img src="<%=require('../images/carousel-3.webp')%>" alt="Третье фото слайдера - пара мужчина и женщина держат сумки саквояж в руках" loading="lazy" />
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="swiper-slide swiper-slide--four">
            <img src="<%=require('../images/carousel-4.webp')%>" alt="Четвертое фото слайдера - пара мужчина и женщина держат сумки спорт в руках" loading="lazy" />
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="swiper-slide swiper-slide--five">
            <img src="<%=require('../images/carousel-5.webp')%>" alt="Пятое фото слайдера - пара мужчина и женщина держат сумки дипломат в руках" loading="lazy" />
            <div class="swiper-lazy-preloader"></div>
          </div>
        </div>
      </div>
    </header>
    <main class="page">
      <section class="page__section" id="section_models">
        <h3 class="page__section-title">Сделай свой выбор</h3>
        <ul class="page__section-list places__list"></ul>
      </section>
      <section class="page__gallery-section">
        <h3 class="page__section-title">Познакомьтесь ближе</h3>
        <ul class="gallery">
          <li class="gallery-item-one">
            <img loading="lazy"
              src="<%=require('../images/gallery1.webp')%>"
              alt="Фото женщины в белой майке и солнечных очках, которая держит сумку"
              class="gallery-image"
            />
          </li>
          <li class="gallery-item-two">
            <img loading="lazy"
              src="<%=require('../images/gallery2.webp')%>"
              alt="Фото женщины в белой рубашке и солнечных очках, которая складывает вещи в сумку"
              class="gallery-image"
            />
          </li>
          <li class="gallery-item-three">
            <img loading="lazy"
            src="<%=require('../images/gallery3.webp')%>"
            alt="Фото женщины в бежевом плаще, которая держит сумку перед собой"
            class="gallery-image"
            />
          </li>
          <li class="gallery-item-four">
            <img loading="lazy"
            src="<%=require('../images/gallery4.webp')%>"
            alt="Фото сумки крупным планом, которую держит мужчина"
              class="gallery-image"
            />
          </li>
          <li class="gallery-item-five">
            <img loading="lazy"
              src="<%=require('../images/gallery5.webp')%>"
              alt="Фото сумки крупным планом, которую держит мужчина"
              class="gallery-image"
            />
          </li>
          <li class="gallery-item-six">
            <img loading="lazy"
              src="<%=require('../images/gallery6.webp')%>"
              alt="Фото женщины в кожаной куртке со спины, которая держит сумку за плечом"
              class="gallery-image"
            />
          </li>
          <li class="gallery-item-seven">
            <img loading="lazy"
            src="<%=require('../images/gallery7.webp')%>"
            alt="Фото сумки крупным планом, которую держит мужчина"
            class="gallery-image"
            />
          </li>
          <li class="gallery-item-eight">
            <img loading="lazy"
            src="<%=require('../images/gallery8.webp')%>"
            alt="Фото крупным планом, где сумку застегивают"
            class="gallery-image"
            />
          </li>
          <li class="gallery-item-nine">
            <img loading="lazy"
            src="<%=require('../images/gallery10.webp')%>"
            alt="Фото сумки крупным планом, которую держит мужчина"
            class="gallery-image"
            />
          </li>
          <li class="gallery-item-ten">
            <img loading="lazy"
            src="<%=require('../images/gallery9.webp')%>"
            alt="Фото женщины в рубашке, которая держит сумку за плечом"
            class="gallery-image"
            />
          </li>
          <li class="gallery-item-eleven">
            <img loading="lazy"
            src="<%=require('../images/gallery11.webp')%>"
            alt="Фото сумки крупным планом, которую держит мужчина"
            class="gallery-image"
            />
          </li>
          <li class="gallery-item-tvelwe">
            <img loading="lazy"
            src="<%=require('../images/gallery12.webp')%>"
            alt="Фото сумки крупным планом, которую держит мужчина за плечом"
            class="gallery-image"
            />
          </li>
        </ul>
        <a
          href="https://www.wildberries.ru/catalog/137716293/detail.aspx"
          target="_blank"
          class="button section__action-button"
        >
          <span class="button__text">купить на wildberries</span>
        </a>
      </section>
    </main>
    <div class="section__group">
      <section class="faq" id="section_faq">
        <h2 class="faq__title">Частые вопросы</h2>
        <details>
          <summary>Сколько карманов имеет сумка?</summary>
          <p class="faq__paragraph">
            Среди дополнительных отделов есть отделение для небольшого ноутбука
            или планшета с плотной стенкой, фиксация на липучке. С
            противоположной стороны есть карман на молнии и 2 маленьких открытых
            кармана для мелочей.
          </p>
        </details>
        <details>
          <summary>Сколько весит пуская сумка и какие у неё габариты?</summary>
          <p class="faq__paragraph">
            Ширина - 50см, глубина - 20см, высота - 30см. Длина плечевого ремня
            - 130см. Вес сумки -1200г. На дне сумке есть вставка, которая
            придает ей форму, но при этом ее можно без проблем свернуть.
          </p>
        </details>
      </section>
      <section class="page__product-reviews">
        <div class="up-section">
          <div class="page__product-reviews-rating">
            <p class="product-rating">4.9</p>
            <div class="star-box">
              <img loading="lazy"
                src="<%= require('../images/star.webp') %>"
                alt="просто картинка звёздочки"
                class="star-icon"
              />
              <img loading="lazy"
                src="<%= require('../images/star.webp') %>"
                alt="просто картинка звёздочки"
                class="star-icon"
              />
              <img loading="lazy"
                src="<%= require('../images/star.webp') %>"
                alt="просто картинка звёздочки"
                class="star-icon"
              />
              <img loading="lazy"
                src="<%= require('../images/star.webp') %>"
                alt="просто картинка звёздочки"
                class="star-icon"
              />
              <img loading="lazy"
                src="<%= require('../images/star.webp') %>"
                alt="просто картинка звёздочки"
                class="star-icon"
              />
            </div>
          </div>
        </div>
        <p class="product-paragraph">3400+ отзывов</p>
        <div class="button-container">
          <a
            href="https://www.wildberries.ru/brands/37574462-REVOLDI?utm_source=vkentryprofit&click_id=v1_1053249462"
            target="_blank"
            class="section__rating-button"
            >перейти на wildberries</a
          >
        </div>
      </section>
      <footer class="footer" id="section_contacts">
        <h2 class="footer__title">revoldi</h2>
        <ul class="footer__menu-list">
          <li class="footer__menu-list-item bold">Меню</li>
          <li class="footer__menu-list-item">Главная</li>
          <li class="footer__menu-list-item">Модели</li>
          <li class="footer__menu-list-item">Вопрос/Ответ</li>
          <li class="footer__menu-list-item">Контакты</li>
        </ul>
        <ul class="footer__menu-list">
          <li class="footer__menu-list-item bold">Информация</li>
          <li class="footer__menu-list-item">Условия возврата</li>
          <li class="footer__menu-list-item">Инфо</li>
          <li class="footer__menu-list-item">Инфо/Ответ</li>
          <li class="footer__menu-list-item">Инфо</li>
        </ul>
        <ul class="footer__menu-list">
          <li class="footer__menu-list-item bold">Контакты</li>
          <li class="footer__menu-list-item">Условия возврата</li>
          <li class="footer__menu-list-item">Инфо</li>
          <li class="footer__menu-list-item">Инфо</li>
          <li class="footer__menu-list-item">Инфо</li>
        </ul>
        <ul class="footer__social-list">
          <li class="footer__menu-list-item bold">Мы есть здесь</li>
          <li class="footer__social-icon">Контакты</li>
          <li class="footer__social-icon">Условия возврата</li>
          <li class="footer__social-icon">Инфо</li>
        </ul>
      </footer>
      <p id="copyright" class="copy">&copy; 2024 Shilov x Revoldi</p>
    </div>
  </body>
  <template id="card-template">
    <li class="cards-section__list-item places__item">
      <article class="card">
        <div class="card__top">
          <div id="" class="splide" aria-label="Beautiful Images">
            <div class="splide__track">
              <ul class="splide__list">

              </ul>
            </div>
        </div>
        <div class="card__bottom">
          <div class="card__description">
            <p class="card__category"></p>
            <div class="card__parameters">
              <p class="card__parameters-geometric">
                <span class="gray">Ш х В х Г: </span><span class="width"></span> x <span class="height"></span> x <span class="depth"></span><span class="units"> см</span>
              </p>
              <p class="card__parameters-capacity"><span class="gray">Объём: </span><span class="capacity"></span><span class="units"> л  </span><span class="units"><span class="gray">Вес: </span></span><span class="weight"></span><span class="units"> кг</span></p>
            </div>
          </div>
          <div class="card__buttons">
            <button name="choose-color" class="card__button select-color-btn black active"></button>
            <button name="choose-color" class="card__button select-color-btn brown"></button>
          </div>
        </div>
      </article>
    </li>
  </template>
</html>
