.card {
  min-width: calc(33.33% - 40px); /* Вычисляем ширину для трех карточек с учетом промежутков */
  max-width: 400px;
  background-color: var(--main-color);
  box-shadow: 0 1px 12px 2px rgb(36 36 36 / 0.07);
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 2px 32px 6px rgb(36 36 36 / 0.14);
}

.card__bottom {
  padding-top: 34px;
  display: flex;
  padding-left: 14px;
  justify-content: space-between;
}

.card__category {
  padding-bottom: 4px;
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wght" 700;
  line-height: normal;
  color: var(--bg-color);
}

.card__parameters {
  font-family: var(--inter);
  padding-top: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--bg-color)
}

.gray {
  color: #afaeae;
}

.card__top {
  width: 100%;
  overflow: hidden; 
}

.card__item-number {
  padding-bottom: 10px;
  color: #000;
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wght" 700;
  line-height: normal;
}

.card__picture {
  object-fit: cover;
  width: 100%;
}

.card__buttons {
  display: flex;
  gap: 12px;
}

.card__button {
  width: 25px;
  height: 25px;
}

.card__button-one {
  background-color: black;
}

.card__button-two {
  background-color: brown;
}

@media (width < 1000px) {

  .card__picture {
    max-height: 300px;
  }
}